.item {
  padding: 10px;
}

.item p:not(.question) {
  padding-left: 20px;
  color: #8d8d8d;
}

.item .question {
  font-weight: 600;
}

.item .answer-block {
  background-color: green;
  color: #fff;
  padding: 10px;
}
